{% extends 'base.html' %}

{% block content %}

<div style="border: 2px solid #000;">
    <h1>THIS IS THE BODY</h1>
    <p>aqui tem que ter as coisas do body</p>

    {% include 'personal/snippets/question_snippet.html' %}

    <!--
    {% include 'personal/snippets/body_snippet.html' %}

    <p>{{some_string}}</p>
    <p>{{some_number}}</p>

    
    {% for list_item in list_of_values %}
        {{list_item}} <br />
    {% endfor %}

    
    {% for list_item in list_of_values %}
        {% include 'personal/snippets/body_snippet.html' with value=list_item %}
    {% endfor %}-->

    <!-- {% for question in questions %}
        {% include 'personal/snippets/question_snippet.html' with value=question %}
    {% endfor %} -->

    <h3>Usuário cadastrados</h3>
    {% for account in accounts %}
        <p>{{account.username}} || {{account.email}}</p>
    {% endfor %}

</div>

{% endblock content%}